Repository StoneAndStar/RockStar, pull requests merged in 2022-06, with the labels that each got.

#16 Maptype refactor 2
  code/modules/jobs/job_types/bos.dm
  code/modules/jobs/job_types/enclave.dm
  code/modules/jobs/job_types/followers.dm
  code/modules/jobs/job_types/legion.dm
  code/modules/jobs/job_types/ncr.dm
  code/modules/jobs/job_types/oasis.dm
  code/modules/jobs/job_types/vault.dm
  code/modules/jobs/job_types/wasteland.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: fix

#14 NCR embassy + tweaks
  _maps/map_files/Reno/Reno-Above-3.dmm
  _maps/map_files/Reno/Reno-Surface-2.dmm
  _maps/map_files/Reno/Reno-Underground-1.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/radio.dm
  code/controllers/subsystem/blackbox.dm
  code/game/machinery/telecomms/machines/bus.dm
  code/game/machinery/telecomms/machines/receiver.dm
  code/game/machinery/telecomms/machines/server.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/say.dm
  code/modules/WVM/wvm.dm
  code/modules/clothing/head/f13factionhead.dm
  code/modules/clothing/suits/f13factionarmor.dm
  code/modules/jobs/job_types/bishops.dm
  code/modules/jobs/job_types/citizens.dm
  code/modules/jobs/job_types/mordinos.dm
  code/modules/jobs/job_types/salvatores.dm
  code/modules/jobs/job_types/wrights.dm
  code/modules/jobs/jobs.dm
  code/modules/projectiles/boxes_magazines/internal/revolver.dm
  icons/mob/clothing/suit.dmi
  icons/mob/landmarks.dmi
  icons/obj/clothing/suits.dmi
  interface/stylesheet.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: pr:map

#19 Git Desync Fix 1: Kitsunemitsu:maptype-refactor-2 PR#12
  code/modules/jobs/job_types/bos.dm
  code/modules/jobs/job_types/enclave.dm
  code/modules/jobs/job_types/followers.dm
  code/modules/jobs/job_types/legion.dm
  code/modules/jobs/job_types/ncr.dm
  code/modules/jobs/job_types/oasis.dm
  code/modules/jobs/job_types/vault.dm
  code/modules/jobs/job_types/wasteland.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: pr:docs, pr:map, pr:speedmerge

#20 Git Desync Fix 1: SeeminglyTypicalUsername:Reno PR#14
  _maps/map_files/Reno/Reno-Above-3.dmm
  _maps/map_files/Reno/Reno-Surface-2.dmm
  _maps/map_files/Reno/Reno-Underground-1.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/radio.dm
  code/controllers/subsystem/blackbox.dm
  code/game/machinery/telecomms/machines/bus.dm
  code/game/machinery/telecomms/machines/receiver.dm
  code/game/machinery/telecomms/machines/server.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/say.dm
  code/modules/WVM/wvm.dm
  code/modules/clothing/head/f13factionhead.dm
  code/modules/clothing/suits/f13factionarmor.dm
  code/modules/jobs/job_types/bishops.dm
  code/modules/jobs/job_types/citizens.dm
  code/modules/jobs/job_types/mordinos.dm
  code/modules/jobs/job_types/salvatores.dm
  code/modules/jobs/job_types/wrights.dm
  code/modules/jobs/jobs.dm
  code/modules/projectiles/boxes_magazines/internal/revolver.dm
  icons/mob/clothing/suit.dmi
  icons/mob/landmarks.dmi
  icons/obj/clothing/suits.dmi
  interface/stylesheet.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: pr:docs, pr:map, pr:speedmerge

#11 Gets Sunnyvale Ready to Run [Ready to TM]
  _maps/map_files/Sunnyvale/Sunnyvale-Above-3.dmm
  _maps/map_files/Sunnyvale/Sunnyvale-Surface-2.dmm
  _maps/map_files/Sunnyvale/Sunnyvale-Underground-1.dmm
  _maps/shuttles/enclave_mini_elevator.dmm
  _maps/sunnyvale.json
  code/__DEFINES/radio.dm
  code/controllers/subsystem/blackbox.dm
  code/datums/datacore.dm
  code/datums/shuttles.dm
  code/datums/world_topic.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/communications.dm
  code/game/machinery/telecomms/machines/bus.dm
  code/game/machinery/telecomms/machines/hub.dm
  code/game/machinery/telecomms/machines/receiver.dm
  code/game/machinery/telecomms/machines/server.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/say.dm
  code/modules/admin/topic.dm
  code/modules/jobs/job_types/bos.dm
  code/modules/jobs/job_types/enclave/enclave-sunnyvale.dm
  code/modules/jobs/job_types/enclave/enclave.dm
  code/modules/jobs/job_types/vault.dm
  code/modules/jobs/job_types/wasteland.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/living/say.dm
  code/modules/shuttle/f13.dm
  config/maps.txt
  interface/stylesheet.dm
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
Labels: pr:map, pr:testmerge

#25 [PTMO] The Vale of the Sun (Sunny[d|v]ale)
  _maps/map_files/Sunnyvale/Sunnyvale-Above-3.dmm
  _maps/map_files/Sunnyvale/Sunnyvale-Surface-2.dmm
  _maps/map_files/Sunnyvale/Sunnyvale-Underground-1.dmm
  _maps/shuttles/enclave_mini_elevator.dmm
  _maps/sunnyvale.json
  code/__DEFINES/radio.dm
  code/controllers/subsystem/blackbox.dm
  code/datums/datacore.dm
  code/datums/shuttles.dm
  code/datums/world_topic.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/communications.dm
  code/game/machinery/telecomms/machines/bus.dm
  code/game/machinery/telecomms/machines/hub.dm
  code/game/machinery/telecomms/machines/receiver.dm
  code/game/machinery/telecomms/machines/server.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/say.dm
  code/modules/admin/topic.dm
  code/modules/jobs/job_types/bos.dm
  code/modules/jobs/job_types/enclave/enclave-sunnyvale.dm
  code/modules/jobs/job_types/enclave/enclave.dm
  code/modules/jobs/job_types/vault.dm
  code/modules/jobs/job_types/wasteland.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/living/say.dm
  code/modules/shuttle/f13.dm
  config/maps.txt
  interface/stylesheet.dm
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
Labels: pr:map, pr:testmerge, pr:speedmerge

#21 Robots/Kitchen
  _maps/map_files/Reno/Reno-Above-3.dmm
  _maps/map_files/Reno/Reno-Surface-2.dmm
  _maps/map_files/Reno/Reno-Underground-1.dmm
  code/__DEFINES/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/modules/WVM/wvm.dm
  code/modules/jobs/job_types/bishops.dm
  code/modules/jobs/job_types/citizens.dm
  code/modules/jobs/job_types/salvatores.dm
  code/modules/jobs/jobs.dm
  code/modules/mining/money_bag.dm
  icons/mob/landmarks.dmi
Labels: pr:map, pr:testmerge
