Repository StoneAndStar/RockStar, pull requests merged in 2022-07, with the labels that each got.

#28 Enclave topside changes
  _maps/map_files/Sunnyvale/Sunnyvale-Surface-2.dmm
  _maps/map_files/Sunnyvale/Sunnyvale-Underground-1.dmm
Labels: pr:map, pr:testmerge, pr:sunny

#37 Fixes Enclave Slot Loading
  code/modules/jobs/job_types/enclave/enclave.dm
  fortune13.dme
Labels: pr:testmerge, pr:speedmerge

#39 Reno train """fix"""
  _maps/map_files/Reno/Reno-Underground-1.dmm
  _maps/reno.json
Labels: pr:map, pr:testmerge, pr:speedmerge, pr:reno

#36 Brahmins now produce "brahmin pies", Jet now uses brahmin pies
  code/datums/components/crafting/recipes/recipes_medicine.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  icons/fallout/mobs/animals/farmanimals.dmi
Labels: pr:testmerge

#35 Hobo update
  code/modules/jobs/job_types/citizens.dm
Labels: pr:testmerge, pr:speedmerge, pr:reno

#42 Casino update
  _maps/map_files/Reno/Reno-Surface-2.dmm
  _maps/map_files/Reno/Reno-Underground-1.dmm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/barsigns.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/modules/mob/living/carbon/human/species.dm
  fortune13.dme
  icons/fallout/turfs/floors.dmi
  icons/obj/barsigns.dmi
  icons/obj/tiles.dmi
Labels: pr:docs, pr:map, pr:reno, pr:next

#41 Brahmin pies 2: The Fixening
  code/datums/components/crafting/recipes/recipes_medicine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Labels: fix

#33 Sunnymap
  _maps/map_files/Sunnyvale/Sunnyvale-Above-3.dmm
  _maps/map_files/Sunnyvale/Sunnyvale-Surface-2.dmm
Labels: pr:map, pr:testmerge, pr:sunny

#29 Legion sewers fix
  _maps/map_files/Sunnyvale/Dungeons.dmm
  _maps/map_files/Sunnyvale/Sunnyvale-Underground-1.dmm
Labels: pr:map, pr:testmerge, pr:sunny, pr:next

#45 Adds a roulette wheel spin sound.
  code/game/objects/structures/roulettetable.dm
  sound/f13machines/roulette_wheel.ogg
Labels: pr:testmerge

#24 Adds brahmin riding, branding
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  icons/fallout/objects/tools.dmi
Labels: pr:testmerge

#38 Derelict Vault Enclave Base
  _maps/map_files/Sunnyvale/Sunnyvale-Underground-1.dmm
Labels: pr:map, pr:testmerge, pr:sunny, pr:next
